<%- include('header') %>
<h1><%= title %> <span><%= subtitle %></span></h1>
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2><%= __('My account') %></h2>
            <div class="d-flex">
                <div class="border border-1 p-2 me-3"><%= __('Email:') %> <%= user.email %></div>
            </div>

        </div>
        <div class="cols-12 my-5">
            <h2><%= __('My products') %> <span class="badge text-bg-primary rounded p-1"><%= user.adverts.length %></span></h2>
            <div class="vstack gap-3">
                <% if (Array.isArray(user.adverts)) { %>
                <% user.adverts.map((advert) => { %>
                <div class="border border-1 p-2 d-flex justify-content-between align-items-center gap-2">
                    <% if (advert.imagen) { %>
                        <div><img src="/images/thumbnail/<%= advert.imagen %>" alt="<%= advert.imagen %>"></div>
                    <% } %>
                    <div class="w-20"><%= advert.nombre %></div>
                    <div class="badge text-bg-primary rounded p-1"><%= advert.tags.join(', ') %></div>
                    <div class="ms-auto w-20 "> <%= advert.venta ? __('For sale'): __('For buy')%></div>
                    <div class="w-20 "><h4><%= advert.precio %></h4></div>
                    <a id="delete-action" class="btn btn-danger" href="/delete/<%= advert.id %>"><%= __('Delete') %></a>  
                </div>
                <% }); %>
                <% } else { %>
                <% __('No products') %>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>