<%- include('header') %>
    <h1><%= title %> <span><%= subtitle %></span></h1>
    <div class="count"><%= __('Results:') %> <%= count %> <%= __n('Advert', 'Adverts', count) %></div>
    <div class="list-wrapper">
      <% data.forEach(function (item) { %>
        <div class="list-item">
          <% if (item.imagen !== '') { %>
            <img src='/images/<%= item.imagen %>'' alt="<%= item.imagen  %>">  
          <% } else { %>
            <img src='/images/no-image.jpg'' alt="<%= item.imagen  %>">
          <% } %>
          <h4 class="name"><%= item.nombre %></h4>
          <div class="info-wrapper">
            <div class="status sale">
              <% if (item.venta){ %>
                 <span class="sale">En Venta</span> 
              <% } else { %>
                  <span class="buy">Se busca</span>
              <% } %>
            </div>
            <div class="price">
              <h4><%= item.precio %> €</h4>
            </div>
          </div>
          <div class="tags-wrapper">
            <% const tags = item.tags %>
            <% tags.forEach(function(tag ){ %>
                <span class="tag"><%= tag %></span>
            <% }); %>
          </div>
         
        </div>
      <% }); %>
      <div class="error">
         <% if (error) { %>
             <p class="error-message"><%= error.message %></p>
         <% } %>
       </div>
    </div>
<%- include('footer') %>
