
<%- include('header') %>
<h1><%= title %> <span><%= subtitle %></span></h1>
<main class="form-signin m-auto my-5">
    <div class="container 100vh col-6">
        <div class="row justify-content-center">
            <form method="POST" class="d-flex flex-column gap-3">
              <div class="form-floating">
                <input type="email" name="email" value="<%= email %>" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput"><%= __('Email address') %></label>
              </div>
              <div class="form-floating">
                <input type="text" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"><%= __('Password') %></label>
              </div>
        
              <button class="btn btn-primary w-100 py-2" type="submit"><%= __('Log In') %></button>
              <%= error %>
        </div>
        </form>
    </div>
</main>
<%- include('footer') %>